@model MyWeb.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price50)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price50)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price100)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price100)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary mt-3 mb-3" asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a>
    <a class="btn btn-primary mt-3 mb-3" asp-action="Index">Back to List</a>
</div>
